{{#with field.value as |file|}}
    {{#if useDetailedStyle}}
        {{partial 'eureka-widget-property-file-attachment-display-attached-file'}}
    {{else}}
        <a href={{file.url}} target="_blank">
            <img class="img-thumbnail" src={{file.thumb}} />
        </a>
    {{/if}}
{{/with}}