{{#if useDetailedStyle}}
    {{#each file in field.values}}
        {{partial 'eureka-widget-property-file-attachment-display-attached-file'}}
    {{/each}}
{{else}}
    <ul class="list-inline">
    {{#each file in field.values}}
        <li class="thumb-item">
            <a {{bind-attr href=file.url}} target="_blank">
                <img class="img-thumbnail" {{bind-attr src=file.thumb}} />
            </a>
        </li>
    {{/each}}
    </ul>
{{/if}}
