{{#if useDetailedStyle}}
    {{#each field.values as |file|}}
        {{partial 'eureka-widget-property-file-attachment-display-attached-file'}}
    {{/each}}
{{else}}
    <ul class="list-inline">
    {{#each field.values as |file|}}
        <li class="thumb-item">
            <a href={{file.url}} target="_blank">
                <img class="img-thumbnail" src={{file.thumb}} />
            </a>
        </li>
    {{/each}}
    </ul>
{{/if}}
