{{#if field.value}}
    <div class="eureka-widget-property-file-attachment-attached-files">
        {{#with field.value as file}}
            {{partial 'eureka-widget-property-file-attachment-form-attached-file'}}
        {{/with}}
    </div>
{{/if}}

<div {{bind-attr class="field.value:hidden"}}>
    {{#if autosuggestEnabled}}
        {{#unless _dropzoneQueue.length}}
            <div class="eureka-widget-property-file-attachment-autosuggest">
                {{relation-autosuggest field=field}}
            </div>
        {{/unless}}
    {{/if}}

    {{partial 'eureka-widget-property-file-attachment-dropzone'}}
</div>