<div class="dropzone">
    <div class="dz-message">
        <p>drop a file to upload or click <u>here</u></p>
    </div>

    <div class="dz-template" style="display:none">
        {{partial "eureka-widget-property-file-attachment-dropzone-file-preview"}}
    </div>
</div>